@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* :root {
  --main-font: 'Montserrat', sans-serif;
  --sub-font: 'Raleway', sans-serif;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
body {
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 1rem;
  color: #333333;
}
h1 {
  font-family: var(--sub-font);
  font-size: 2.25rem;
  font-weight: 700;
}

li {
  list-style-type: none;
} */
